{
  "openapi": "3.1.0",
  "info": {
    "title": "i2d_dw - Ventas",
    "description": "Endpoints de ventas del Data Warehouse i2d_dw. Multiples modos: resumen, busqueda, ranking, margen, comparativa, ticket, rotacion.",
    "version": "2.1.0"
  },
  "servers": [{"url": "https://api.inversionesduquin.online", "description": "API i2d_dw - Produccion"}],
  "paths": {
    "/api/v2/ventas/": {
      "get": {
        "tags": ["ventas"],
        "summary": "Ventas - multi-modo",
        "description": "Endpoint multi-modo. Modos: resumen (id_co+fechas), busqueda (q), ranking (top), margen (agrupar_por), comparativa (comparar_con), ticket (modo=ticket), rotacion (modo=rotacion).",
        "operationId": "get_ventas",
        "parameters": [
          {"name": "id_co", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "ID del centro de operaciones"},
          {"name": "fecha_desde", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}, "description": "Fecha inicio YYYY-MM-DD"},
          {"name": "fecha_hasta", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}, "description": "Fecha fin YYYY-MM-DD"},
          {"name": "q", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Busqueda por nombre, referencia o ID de producto"},
          {"name": "referencia", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Busqueda por referencia de producto"},
          {"name": "top", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Ranking: cantidad de productos a retornar"},
          {"name": "ordenar_por", "in": "query", "required": false, "schema": {"type": "string", "enum": ["cantidad", "costo"]}, "description": "Criterio de orden para ranking"},
          {"name": "agrupar_por", "in": "query", "required": false, "schema": {"type": "string", "enum": ["producto", "categoria", "seccion", "proveedor"]}, "description": "Agrupar margen por dimension"},
          {"name": "comparar_con", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}, "description": "Fecha inicio del periodo anterior para comparativa"},
          {"name": "modo", "in": "query", "required": false, "schema": {"type": "string", "enum": ["ticket", "rotacion"]}, "description": "Modo especial: ticket o rotacion"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Maximo de resultados. Default: 100"}
        ],
        "responses": {
          "200": {"description": "Datos de ventas segun el modo"},
          "400": {"description": "Parametros invalidos", "content": {"application/json": {"schema": {"type": "object", "properties": {"detail": {"type": "string"}}}}}},
          "401": {"description": "Token invalido"},
          "403": {"description": "Sin permiso RBAC"}
        }
      }
    },
    "/api/v2/ventas/item": {
      "get": {
        "tags": ["ventas"],
        "summary": "Ventas desglosadas por producto",
        "operationId": "get_ventas_item",
        "parameters": [
          {"name": "id_co", "in": "query", "required": true, "schema": {"type": "integer"}},
          {"name": "id_item", "in": "query", "required": true, "schema": {"type": "integer"}},
          {"name": "fecha_desde", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "fecha_hasta", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}}
        ],
        "responses": {
          "200": {"description": "Detalle de ventas del producto"},
          "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}
        }
      }
    },
    "/api/v2/ventas/clientes": {
      "get": {
        "tags": ["ventas"],
        "summary": "Ventas agrupadas por cliente",
        "operationId": "get_ventas_clientes",
        "parameters": [
          {"name": "fecha_desde", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "fecha_hasta", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "id_co", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "id_cliente", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Ventas por cliente"},
          "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}
        }
      }
    },
    "/api/v2/ventas/mpagos": {
      "get": {
        "tags": ["ventas"],
        "summary": "Ventas desglosadas por medio de pago",
        "operationId": "get_ventas_mpagos",
        "parameters": [
          {"name": "fecha_desde", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "fecha_hasta", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "id_co", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Ventas por medio de pago"},
          "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}
        }
      }
    }
  }
}
