{
  "openapi": "3.1.0",
  "info": {
    "title": "i2d_dw - Ventas Proveedores",
    "description": "Endpoints de reportes para proveedores. Multiples modos: diario, top, categoria, rotacion, comparativa, consolidado, venta-cero.",
    "version": "2.1.0"
  },
  "servers": [{"url": "https://api.inversionesduquin.online", "description": "API i2d_dw - Produccion"}],
  "paths": {
    "/api/v2/ventas-proveedores/": {
      "get": {
        "tags": ["ventas-proveedores"],
        "summary": "Reporte de proveedores - multi-modo",
        "description": "Endpoint multi-modo. Modos: diario (default), ranking (top), agrupado (agrupar_por), rotacion (modo=rotacion), comparativa (comparar_con).",
        "operationId": "obtener_reporte_proveedores",
        "parameters": [
          {"name": "fecha_inicio", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "fecha_fin", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "proveedor_id", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "top", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "ordenar_por", "in": "query", "required": false, "schema": {"type": "string", "enum": ["cantidad", "costo"]}},
          {"name": "agrupar_por", "in": "query", "required": false, "schema": {"type": "string", "enum": ["categoria", "seccion", "producto"]}},
          {"name": "modo", "in": "query", "required": false, "schema": {"type": "string", "enum": ["rotacion"]}},
          {"name": "comparar_con", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {"200": {"description": "Datos del reporte"}, "400": {"description": "Parametros invalidos"}, "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}}
      }
    },
    "/api/v2/ventas-proveedores/consolidado": {
      "get": {
        "tags": ["ventas-proveedores"],
        "summary": "Reporte consolidado sin desglose diario",
        "operationId": "obtener_reporte_proveedores_consolidado",
        "parameters": [
          {"name": "fecha_inicio", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "fecha_fin", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "proveedor_id", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Datos consolidados"}, "400": {"description": "Parametros invalidos"}, "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}}
      }
    },
    "/api/v2/ventas-proveedores/venta-cero": {
      "get": {
        "tags": ["ventas-proveedores"],
        "summary": "Productos con stock sin venta reciente",
        "operationId": "obtener_productos_estancados",
        "parameters": [
          {"name": "fecha_fin", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "proveedor_id", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Productos estancados"}, "400": {"description": "Parametros invalidos"}, "401": {"description": "Token invalido"}, "403": {"description": "Sin permiso"}}
      }
    }
  }
}
