{
  "openapi": "3.1.0",
  "info": {
    "title": "i2d_dw — Health",
    "description": "Endpoints públicos de health check. No requieren autenticación ni están sujetos a rate limiting.",
    "version": "2.0.0"
  },
  "servers": [
    {"url": "https://api.inversionesduquin.online", "description": "API i2d_dw — Producción"}
  ],
  "paths": {
    "/api/v2/health": {
      "get": {
        "tags": ["health"],
        "summary": "Health Check",
        "description": "Comprueba que la API esté en ejecución. Público. Sin autenticación. No sujeto a rate limit.",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "API en ejecución",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "example": "ok"},
                    "message": {"type": "string", "example": "API en ejecución"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/health/db": {
      "get": {
        "tags": ["health"],
        "summary": "Health DB",
        "description": "Comprueba la conexión a SQL Server (i2d_dw). Público. Sin autenticación. No sujeto a rate limit.",
        "operationId": "health_db",
        "responses": {
          "200": {
            "description": "Conexión a BD exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "example": "ok"},
                    "database": {"type": "string", "example": "connected"},
                    "message": {"type": "string", "example": "Conexión a SQL Server correcta"}
                  }
                }
              }
            }
          },
          "503": {
            "description": "Sin conexión a base de datos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "object",
                      "properties": {
                        "status": {"type": "string", "example": "error"},
                        "database": {"type": "string", "example": "disconnected"},
                        "message": {"type": "string"},
                        "error": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
