{
  "openapi": "3.1.0",
  "info": {
    "title": "i2d_dw — Productos",
    "description": "Endpoints de productos/catálogo del Data Warehouse i2d_dw. Requieren token válido y permiso `productos:read`.",
    "version": "2.0.0"
  },
  "servers": [
    {"url": "https://api.inversionesduquin.online", "description": "API i2d_dw — Producción"}
  ],
  "paths": {
    "/api/v2/productos/": {
      "get": {
        "tags": ["productos"],
        "summary": "Lista paginada de productos",
        "description": "Lista paginada de productos. Por defecto 50 productos por página desde la primera. Requiere permiso `productos:read`. Usar has_next/has_previous para navegar.",
        "operationId": "get_productos_paginated",
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}, "description": "Numero de pagina (default: 1)"},
          {"name": "page_size", "in": "query", "required": false, "schema": {"type": "integer", "default": 50}, "description": "Registros por pagina (default: 50)"},
          {"name": "q", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Busqueda por texto"},
          {"name": "buscar_por", "in": "query", "required": false, "schema": {"type": "string", "enum": ["referencia", "nombre"]}, "description": "Donde buscar: referencia o nombre"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Maximo resultados en modo busqueda"}
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de productos",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductosPaginatedResponse"}}}
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"}
        }
      }
    },
    "/api/v2/productos/all": {
      "get": {
        "tags": ["productos"],
        "summary": "Todos los productos (sin paginación)",
        "description": "Obtiene todos los productos sin límite de paginación, con filtro opcional por ID. Requiere permiso `productos:read`.",
        "operationId": "get_productos_all",
        "parameters": [
          {"name": "id_item", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Filtrar por ID de producto (opcional)"}
        ],
        "responses": {
          "200": {
            "description": "Lista completa de productos",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductosAllResponse"}}}
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"}
        }
      }
    },
    "/api/v2/productos/{id_item}": {
      "get": {
        "tags": ["productos"],
        "summary": "Criterios de clasificación de un producto",
        "description": "Obtiene los criterios de clasificación completos de un producto específico. Requiere permiso `productos:read`.",
        "operationId": "get_criterios_producto",
        "parameters": [
          {"name": "id_item", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "ID del producto"}
        ],
        "responses": {
          "200": {
            "description": "Criterios de clasificación del producto",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CriteriosProductoResponse"}}}
          },
          "400": {
            "description": "ID de producto inválido",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageError"}}}
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {
            "description": "Producto no encontrado",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageError"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProductoItem": {
        "type": "object",
        "properties": {
          "id": {"type": "integer", "description": "ID del producto"},
          "descripcion": {"type": "string", "description": "Descripción"},
          "referencia": {"type": "string", "description": "Referencia / SKU"},
          "id_barra_principal": {"type": "string", "description": "Código de barras principal"},
          "id_um_inventarios": {"type": "string", "description": "Unidad de medida de inventario"}
        }
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {"type": "integer"}, "page_size": {"type": "integer"},
          "total": {"type": "integer"}, "total_pages": {"type": "integer"},
          "has_next": {"type": "boolean"}, "has_previous": {"type": "boolean"}
        }
      },
      "ProductosPaginatedResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "example": "success"},
          "data": {
            "type": "object",
            "properties": {
              "items": {"type": "array", "items": {"$ref": "#/components/schemas/ProductoItem"}},
              "pagination": {"$ref": "#/components/schemas/PaginationInfo"}
            }
          }
        }
      },
      "ProductosAllResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "example": "success"},
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/ProductoItem"}}
        }
      },
      "CriteriosProductoRecord": {
        "type": "object",
        "properties": {
          "id": {"type": "integer", "description": "ID del producto"},
          "descripcion": {"type": "string", "description": "Descripción del producto"},
          "plan": {"type": "string", "description": "Clasificación: plan/universo (plan 001)"},
          "procedencia": {"type": "string", "description": "Clasificación: procedencia (plan 002)"},
          "seccion": {"type": "string", "description": "Clasificación: sección (plan 003)"},
          "categoria": {"type": "string", "description": "Clasificación: categoría (plan 004)"},
          "subcategoria": {"type": "string", "description": "Clasificación: subcategoría (plan 005)"},
          "marca": {"type": "string", "description": "Clasificación: marca (plan 006)"},
          "proveedor": {"type": "string", "description": "Clasificación: proveedor (plan 007)"}
        }
      },
      "CriteriosProductoResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "example": "success"},
          "data": {"$ref": "#/components/schemas/CriteriosProductoRecord"}
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {"detail": {"type": "string"}}
      },
      "MessageError": {
        "type": "object",
        "properties": {"message": {"type": "string"}}
      }
    },
    "responses": {
      "Unauthorized": {"description": "Token inválido, revocado, expirado o ausente", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}},
      "Forbidden": {"description": "Sin permiso RBAC, usuario inactivo, o sin rol", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}},
      "RateLimited": {"description": "Rate limit excedido (100 req/min). Retry-After: 60.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}}
    }
  }
}
