{
  "openapi": "3.1.0",
  "info": {
    "title": "i2d_dw — Ventas Proveedores",
    "description": "Endpoint de reportes para proveedores del Data Warehouse i2d_dw. Requiere token válido y permiso `ventas-proveedores:lectura`. NOTA: usa claves 'mensaje'/'datos' en vez de 'status'/'data'.",
    "version": "2.0.0"
  },
  "servers": [
    {"url": "https://api.inversionesduquin.online", "description": "API i2d_dw — Producción"}
  ],
  "paths": {
    "/api/v2/ventas-proveedores/": {
      "get": {
        "tags": ["ventas-proveedores"],
        "summary": "Reporte de ventas para proveedores",
        "description": "Informe de ventas para proveedores. Retorna ventas, inventario y costo por punto de venta y producto, con criterios de clasificación. Fecha de inicio por defecto 30 días atrás. NOTA: usa claves 'mensaje'/'datos' en las respuestas. Requiere permiso `ventas-proveedores:lectura`. El parámetro proveedor_id es auto-resuelto para proveedores vinculados, requerido para admins.",
        "operationId": "obtener_reporte_proveedores",
        "parameters": [
          {"name": "fecha_inicio", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}, "description": "Fecha de inicio del informe (default: 30 días atrás). Formato YYYY-MM-DD."},
          {"name": "fecha_fin", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}, "description": "Fecha de fin del informe (default: día actual). Formato YYYY-MM-DD."},
          {"name": "proveedor_id", "in": "query", "required": false, "schema": {"type": "string"}, "description": "ID del criterio mayor de proveedor (plan 007). Obligatorio para admin. Auto-resuelto para proveedores vinculados."}
        ],
        "responses": {
          "200": {
            "description": "Reporte de ventas, inventario y costo por proveedor. NOTA: respuesta usa claves 'mensaje'/'datos'.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProveedoresReportResponse"}}}
          },
          "400": {
            "description": "Proveedor no vinculado — requiere proveedor_id explícito",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {
            "description": "Rol no autorizado para ventas-proveedores",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProveedorReportRecord": {
        "type": "object",
        "description": "Registro de reporte de proveedor. Campos visibles dependen de permisos_informe asignados.",
        "properties": {
          "punto_de_venta": {"type": "string", "description": "Nombre del centro de operaciones"},
          "ciudad": {"type": "string", "description": "Ciudad del centro de operaciones"},
          "descripcion_articulo": {"type": "string", "description": "Descripción del producto"},
          "referencia": {"type": "string", "description": "Referencia o SKU"},
          "cantidad_inventario": {"type": "integer", "description": "Existencias en inventario (unidades)"},
          "cantidad_vendida": {"type": "integer", "description": "Unidades vendidas en el período"},
          "coste_venta": {"type": "number", "description": "Costo promedio total de lo vendido"},
          "seccion": {"type": "string", "description": "Clasificación: sección (plan 003)"},
          "categoria": {"type": "string", "description": "Clasificación: categoría (plan 004)"},
          "proveedor": {"type": "string", "description": "Clasificación: proveedor (plan 007)"},
          "año": {"type": "integer", "description": "Año del documento"},
          "mes": {"type": "integer", "description": "Mes del documento"},
          "fecha": {"type": "string", "description": "Fecha del documento (ISO 8601, ETL)"},
          "producto": {"type": "integer", "description": "ID del producto"}
        }
      },
      "ProveedoresReportResponse": {
        "type": "object",
        "description": "ATENCIÓN: Este endpoint usa claves 'mensaje'/'datos', diferente a otros endpoints que usan 'status'/'data'.",
        "properties": {
          "mensaje": {"type": "string", "example": "éxito"},
          "datos": {"type": "array", "items": {"$ref": "#/components/schemas/ProveedorReportRecord"}}
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {"detail": {"type": "string"}}
      }
    },
    "responses": {
      "Unauthorized": {"description": "Token inválido, revocado, expirado o ausente", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}},
      "RateLimited": {"description": "Rate limit excedido (100 req/min). Retry-After: 60.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}},
      "InternalError": {"description": "Error interno del servidor", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorDetail"}}}}
    }
  }
}
